body {background-color:black;}
p{font-family:"Times New Roman", Times, serif;
font-size:150%;}

body {
    margin: 0;
    padding: 2;
    font-family: "哥特";
    font-weight: 200;
    line-height: 2.0rem;
    color: whitesmoke;
  }
  
 